/* ESTILOS DE CABECERA */
#cabecera{
    text-align:center;
    background-color:bisque;
    padding-block: 20px;
}

/* ESTILOS DE PIE DE PAGINA */
footer{
    text-align:center;
    background-color:bisque;
    padding-block: 10px;
    font-family: cursive;
    position:relative;
    float:bottom;
    clear:both;
    height: 280px;
}

#pie_pagina{
    float:right;
    text-align:right;
    padding-right: 10%;
}

#pie_pagina_img{
    float:left;
    padding-left: 10%;
    height: 50%;
}

/* ESTILOS DEL BODY */

body{
    width: 1100px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    position:relative;
}

/* ESTILOS DE ELEMENTOS DE ENCABEZADOS */
h1{
    color: darkcyan;
    font-family: cursive;
    font-size: 30px;
}

h3{
    color: rgb(214, 111, 15);
    font-family: cursive;
    font-size: 20px;
}

/* ESTILOS DE TABLA PROFESORES */
.tabla_profesores{
    line-height: 30px;
    text-indent:80px;
    text-align: center;
    margin-left: 50px;
    position: relative;
}

.thead{
    background-color: rgb(72, 145, 177);
    text-decoration: underline;
}

.tbody{
    background-color: rgb(146, 213, 242);
}

/* ESTILOS DE TABLA DIRECCION */ 
.tabla_direccion{
    line-height: 30px;
    text-align: center;
    position:relative;
}


/* ESTILOS DE LISTA DE GRADOS FORMATIVOS */
#ciclos{
    position:relative;
}

ol{
    list-style-type: upper-roman;
    font-weight: 700;
}

ul{
    list-style-type: circle;
    font-weight: lighter;
}

/* ESTILOS FORMULARIO */
#formulario {
    font-size: inherit;
    word-spacing: 8px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(213, 238, 249);
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
    height: 85%;
    margin:auto;
    line-height: 40px;
}

/* POSICION CONTENEDORES */
.contenedor_ppal{
    position:relative;
}
.contenedor_izquierda{
    position:relative;
    float:left;
    clear: left;
}
.contenedor_derecha{
    position:relative;
    float:right;
    clear: right;
}